{% extends "base.html.twig" %}

{% block title %}Toutes les recettes
{% endblock %}


{% block body %}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Donec blandit efficitur dictum. Quisque commodo libero leo, quis euismod libero varius vitae. 
							Nulla vel ornare nisi, eget viverra sem. Duis maximus pellentesque tempor.
	</p>

	<ul>
		<li><a href="{{ url('recipe.show', {id:32,slug:'pate-bolognaise'}) }}">pate bolognaise</a></li>
	</ul>

{% endblock %}
